<% if logged_in? && !current_user.admin? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <br>
      <table class="w100">
        <tr>
          <td width="50%"><%= button_to I18n.t(:word_list), words_path, class: "btn btn-primary btn-lg", method: :get %></td>
          <td>&nbsp;&nbsp;</td>
          <td width="50%"><%= button_to I18n.t(:start_lesson), categories_path, class: "btn btn-primary btn-lg", method: :get %></td>
        </tr>
      </table>
    </div>
  </div>
<% end %>
