<% if current_user.admin? %>
  <%= render "admin/word_list", words: @words %>
<% else %>
  <form action="/words">
    <div class="scroll">
      <h1><%= I18n.t :listing_words %></h1>
      <%= render "list_words_head", words: @words %>
      <% if @words.any? %>
        <%= render "words", words: @words %>
      <% end %>
    </div>
  </form>
<% end %>
